<p>createtransaction works!</p>
<form [formGroup]="addTrxn" (ngSubmit)="onTrxnFormSubmit()">

    <!-- // transId:number;
    // Date:string;
    // remark:string;
    // transAmt:number;
    // tnxType:string; -->

    TxnDate:<input type="date" formControlName="Date" required>
    <br> transAmt: <input type="number" formControlName="transAmt" required>
    <br> txnType: <input type="text" formControlName="txnType" required>
    <br> remark: <input type="text" formControlName>
    <button type="submit">Submit</button>
</form>